In [1]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
CREATE TABLE Quads (
    ID VARCHAR(10) NOT NULL,
    LAT_MIN DECIMAL(10, 7) NOT NULL,
    LAT_MAX DECIMAL(10, 7) NOT NULL,
    LON_MAX DECIMAL(12, 9),
    LON_MIN DECIMAL(12, 9),
    PRIMARY KEY(ID)
) AS SELECT
    ID,
    LAT_MIN,
    LAT_MAX,
    LON_MAX,
    LON_MIN
FROM CSVREAD('../data/processed/quads.csv');

CREATE TABLE Postos 
(
    ID INTEGER,
    CLASSE VARCHAR(60) NOT NULL,
    TIPO VARCHAR(60) NOT NULL,
    LAT DECIMAL(10, 8) NOT NULL,
    LON DECIMAL(10, 8) NOT NULL,
    QUAD VARCHAR(10) NOT NULL,
    PRIMARY KEY(ID),
    FOREIGN KEY(QUAD)
      REFERENCES Quads(Id)
          ON DELETE NO ACTION
          ON UPDATE NO ACTION,
) AS SELECT *
FROM CSVREAD('../data/processed/postos.csv');

CREATE TABLE Postes (
    ID INTEGER,
    LAT DECIMAL(10, 8),
    LON DECIMAL(10, 8),
    QUAD VARCHAR(10),
    PRIMARY KEY(ID)
) AS SELECT *
FROM CSVREAD('../data/processed/postes_ilum.csv');

CREATE TABLE Tipos_Crimes (
    NOME VARCHAR(20),
    PRIMARY KEY(NOME)
) AS SELECT
    NOME
FROM CSVREAD('../data/processed/tipos_crimes.csv');

CREATE TABLE Crimes (
    ID INTEGER,
    ANO_BO DECIMAL(5, 0),
    DATA_OCORRENCIA VARCHAR(21) NOT NULL,
    HORA_OCORRENCIA VARCHAR(9) NOT NULL,
    PERIODO VARCHAR(12) NOT NULL,
    LAT DECIMAL(10, 8),
    LON DECIMAL(10, 8),
    TIPO_CRIME VARCHAR(20),
    QUAD VARCHAR(10),
    PRIMARY KEY(ID)
) AS SELECT *
FROM CSVREAD('../data/processed/crimes.csv');